:root{    
--orange: hsl(26, 100%, 55%);
--paleOrange: hsl(25, 100%, 94%);
--veryDarkBlue: hsl(220, 13%, 13%);
--darkGrayishBlue: hsl(219, 9%, 45%);
--grayishBlue: hsl(220, 14%, 75%);
--lightGrayishBlue: hsl(223, 64%, 98%);
--white: hsl(0, 0%, 100%);
/*with 75% opacity for lightbox background*/
--black : hsl(0, 0%, 0%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.right, .left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left img{
    height: 1.2rem;
}

.subMenu{
    display: none;
}

.right img{
    width: 2rem;
    height: 2rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    width: 100%;
}

.change{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: -12rem;
}

.change div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.change img{
    width: 1rem;
}

section{
    padding: 0 2rem;
    margin-top: 12rem;
}

h1{
    text-transform: uppercase;
    color: var(--orange);
}

h2{
    font-size: 3rem;
    margin-top: 0;
}

p{
    font-size: 1.5rem;
    color: var(--darkGrayishBlue);
    line-height: 1.5;
}

.price{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.discount{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: 700;
}

.percent{
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--paleOrange);
    color: var(--orange);
    border-radius: 0.5rem;
}

.beforePrice{
    color: var(--darkGrayishBlue);
    text-decoration: line-through;
}

.quantity{
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 1.2rem;
    background-color: var(--lightGrayishBlue);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.quantity span{
    font-size: 2rem;
}

.quantity img{
    width: 1.3rem;
}

.button{
    width: 100%;
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    gap: 1rem;
    font-weight: 700;
    box-shadow: 0 0.6rem 0 0 var(--paleOrange);;
}










footer{
    font-size: 1rem;
    text-align: center;
    margin-top: 5rem;
}
footer a{
    color: hsl(228, 45%, 44%);
}
